/* Floating Chat Button */
.chat-floating-btn {
  position: fixed;
  bottom: 40px; 
  right: 40px;
  width: 55px;
  height: 55px;
  background-color: rgba(135, 21, 76, 1);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(103, 16, 58, 0.4);
  z-index: 9999;
  transition: transform 0.3s ease;
}

.chat-floating-btn:hover {
  transform: scale(1.05);
}

.chat-floating-btn img {
  width: 28px;
  height: auto;
}
